<html>
    <style type="text/css">
        #localStream {
        transform: scale(-1, 1); 
        -webkit-transform: scale(-1, 1);    
        }

    </style>
    <head>
      <title>TestrtcDuy</title>
    </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.css">

    <table id="dong">

    </table>
    <center>
      <h3>Nhập tên phòng</h3>
      <p style="color: red">Chỉ hỗ trợ chrome và firefox - Đường dẫn cần phải có https</p>
      <input type="text" id="roomnumber" class="form-control" style="width: 40%"><br>
      <p id="call">
      </p>
      <button type="button" class="btn btn-success btn-lg" id="noichuyen" onclick="sharescreen()" style="display: none">Nói chuyện</button>
    <table>
      <tr>
        <td width="70%">
          <video controls id="friendStream" width="100%" height="70%"></video>
        </td>
        <td width="25%" height="13%">
          <video  id="localStream" width="100%" height="100%"></video>
        </td>
      </tr>
    </table>
    <button type="button" class="btn btn-danger btn-lg" onclick="stopMediaTracks()">Dừng</button>    
    <div id="info"></div>
    
    </center>
    <pre id="outgoing"></pre>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/simplepeer.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/opencamera.js"></script>
  </body>
</html>
