<html>
    <style type="text/css">
        video {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }

    </style>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.css">


    <center>
    

    <video controls id="friendStream" width="60%" height="60%" ></video>
    </br>
    </br>
    <video controls id="localStream" width="24%" height="24%" ></video>
    </br></br><button type="button" class="btn btn-success btn-lg" id="start">Nói Chuyện</button>
    </center>
    <pre id="outgoing"></pre>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/simplepeer.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/opencamera.js"></script>
  </body>
</html>