<html>
    <style type="text/css">
        video {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }

    </style>
    <head>
      <title>TestrtcDuy</title>
    </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.css">


    <center>
    

    <video id="localStream" width="30%" height="60%" poster="/img/yeah.gif"></video>
    aa
    <video id="friendStream" width="30%" height="60%" poster="/img/yeah.gif"></video>
    </br></br><button type="button" class="btn btn-success btn-lg" id="start">Nói Chuyện</button>
    </center>
    <pre id="outgoing"></pre>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/simplepeer.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/opencamera.js"></script>
  </body>
</html>