<html>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    
    <video controls id="localStream" width="400px" height="400px"></video>
    <textarea id="offer"></textarea>
    <button id="connect">Kết nối</button>
    <video controls id="friendStream" width="400px" height="400px"></video>
    <textarea id="answer"></textarea>
    <button id="receiver-connect">Nhận Kết nối</button>

    </br></br><button id="start">Bắt Đầu</button>


    <pre id="outgoing"></pre>
    <script src="/js/simplepeer.min.js"></script>
    <script src="/js/opencamera.js"></script>
  </body>
</html>