<html>
    <style type="text/css">
        video {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }

    </style>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.css">


    
    <video controls id="localStream" width="400px" height="400px"></video>
    <video controls id="friendStream" width="400px" height="400px"></video>

    </br></br><button id="start">Chat ngay</button>

    <pre id="outgoing"></pre>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/simplepeer.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/opencamera.js"></script>
  </body>
</html>